@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&family=Boogaloo&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(247, 34, 34);
    color: white;
    font-family: 'Boogaloo', cursive;
    height: 55px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 0 20px;
}

nav ul{
    list-style: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Boogaloo', cursive;
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.box:hover{
    background-color: rgb(255, 237, 234);
} 

.info{
    font-size: 20px;
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1{
    font-size: 2rem;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 15px;
    padding: 4px 10px;
    background-color: #ffd0d0;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Boogaloo', cursive;
    font-size: 16px;
}

.line{
    background-color: #ff5252;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
    }
}